In [16]:
import pandas as pd
from IPython.display import display, HTML

colnames=['SEX','LENGTH','DIAMETER','HEIGHT','WHOLE WEIGHT','SHUCKED WEIGHT','VISCERA WEIGHT','SHELL WEIGHT','RINGS']
data=pd.read_csv('data.csv',names=colnames,header=None)
print(data)
counts = data['SEX'].value_counts()
percent=data['SEX'].value_counts(normalize=True)*100
percent=percent.round(decimals=2)
result=pd.DataFrame({'counts':counts,'%':percent})
result=result.rename({'M':'Male','F':'Female','I':'Infant'})

display(result)

     SEX  LENGTH  DIAMETER  HEIGHT  WHOLE WEIGHT  SHUCKED WEIGHT  \
0      M   0.455     0.365   0.095        0.5140          0.2245
1      M   0.350     0.265   0.090        0.2255          0.0995
2      F   0.530     0.420   0.135        0.6770          0.2565
3      M   0.440     0.365   0.125        0.5160          0.2155
4      I   0.330     0.255   0.080        0.2050          0.0895
...   ..     ...       ...     ...           ...             ...
4172   F   0.565     0.450   0.165        0.8870          0.3700
4173   M   0.590     0.440   0.135        0.9660          0.4390
4174   M   0.600     0.475   0.205        1.1760          0.5255
4175   F   0.625     0.485   0.150        1.0945          0.5310
4176   M   0.710     0.555   0.195        1.9485          0.9455

      VISCERA WEIGHT  SHELL WEIGHT  RINGS
0             0.1010        0.1500     15
1             0.0485        0.0700      7
2             0.1415        0.2100      9
3             0.1140        0.1550     10
4             0.0395        0.0550      7
...              ...           ...    ...
4172          0.2390        0.2490     11
4173          0.2145        0.2605     10
4174          0.2875        0.3080      9
4175          0.2610        0.2960     10
4176          0.3765        0.4950     12

[4177 rows x 9 columns]

        counts      %
Male      1528  36.58
Infant    1342  32.13
Female    1307  31.29